name: Frontend CI

on:
  push:
    paths:
     - "frontend/**"
  workflow_dispatch:
  

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend

    steps:
    - name: Clone Repository
      uses: actions/checkout@v4
    - name: Use Node.js 22.x
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
    - name: install depenencies
      run: npm ci
    - name: Build application
      run: npm run build --if-present
    - name: Depcheck
      uses: dependency-check/Dependency-Check_Action@main
      id: Depcheck
      with:
        project: 'test'
        path: '.'
        format: 'HTML'
        out: 'reports' # this is the default, no need to specify unless you wish to override it
        args: >
          --enableRetired
    - name: Upload Test results
      if: always()
      uses: actions/upload-artifact@v4
      with:
         name: Depcheck report
         path: ${{github.workspace}}/reports
  docker:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: frontend
    needs: build
    permissions:
      packages: write
      security-events: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set lowercase repo owner
        run: echo "REPO_OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
      - name: Login into GHCR
        uses: docker/login-action@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner}}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push docker image
        uses: docker/build-push-action@v6
        with:
          context: frontend
          push: true
          platforms: linux/amd64, linux/arm64
          tags: ghcr.io/${{ env.REPO_OWNER }}/wallettrack/frontend:${{ github.sha }}
      - name: Run Trivy with SARIF output
        uses: aquasecurity/trivy-action@0.28.0
        with:
          image-ref: 'ghcr.io/${{ env.REPO_OWNER }}/wallettrack/frontend:${{ github.sha }}'
          format: 'sarif'
          output: 'trivy-results-frontend-${{ runner.os }}-${{ runner.arch }}.sarif'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
          
      - name: Upload Trivy SARIF to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: trivy-results-frontend-${{ runner.os }}-${{ runner.arch }}.sarif



